{% extends "layout-CHIS-proto-searchlight.html" %}
{% extends "layout-searchlight.html" %}

{% block main %}

<div class=" govuk-width-container-searchlight govuk-!-margin-bottom-9">
             <section class="dwp-key-details-bar " aria-label="Key details">
                <dl class="dwp-key-details-bar__key-details-sl">
                    <div class="dwp-key-details-bar__top-block">
                            <dt class="govuk-visually-hidden"> </dt>
                            <!--dd class="dwp-key-details-bar__name">  <h3 style="font-size: 38px;">Enter a National Insurance or Organisation Number</h3></dd-->
                            <dd>  <h3 style="font-size: 38px;">Enter a National Insurance or Organisation Number</h3></dd>
                    </div>
                    <!--div class="dwp-key-details-bar__bottom-block govuk-!-margin-bottom-9 "-->
                    <div class="dwp-key-details-bar__bottom-block-sl govuk-!-margin-bottom-9 ">
                        <dt class="govuk-visually-hidden">National Insurance number:</dt>
                       
                        <dd> <input class="govuk-input-sl" id="event-name" name="event-name" type="text"> </dd>  
                       <dd >  <a href=""><img  class="search-btn" src="/public/images/sl-search-ico.png" alt="Searchlight page"></a></dd>
                     
                
                    </div>
                </dl>
        </section>
</div>

<div class="govuk-width-container-sl">
        <div>
            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                  Contents
                </h2>
                <ul class="govuk-tabs__list">
                  <li class="govuk-tabs__list-item govuk-tabs-__list-item--selected">
                    <a class="govuk-tabs__tab" href="#past-day">
                    DWP Person Trace
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#past-week">
                  Address Trace
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#past-month">
                     Organisation Trace
                    </a>
                  </li>
                  
                </ul>
                <div class="govuk-tabs__panel" id="past-day">
                 
                  <table class="govuk-table">
                    <div>
                       
                        <img src="/public/images/searchlight-tab-first.png" alt="Searchlight page" style="width: 100%;">
                        </div>
                   
                   
                  </table>
              
                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
             
                  <table class="govuk-table">
                    <div>
                       
                        <img src="/public/images/searchlight-address-tab.png" alt="Searchlight page" style="width: 100%;">
                        </div>
                  </table>
              
                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
              
                  <table class="govuk-table">
                    <div>
                       
                        <img src="/public/images/searchlight-org-tab.png" alt="Searchlight page" style="width: 100%;">
                        </div>
                  </table>
              
                </div>
                
              </div>


           
        </div>
      </div>


{% endblock %}




{% block content %}

{% endblock %}
