# ignore tracking usage data config - we want a different one for each user
usage-data-config.json
# ignore extension SCSS because it's dynamically generated
lib/extensions/_extensions.scss
.env
.sass-cache
.DS_Store
.start.pid
.port.tmp
node_modules/*
.tmuxp.*
package-lock.json
public/stylesheets/application-ie8.css
public/stylesheets/application.css
public/stylesheets/unbranded-ie8.css
public/stylesheets/unbranded.css
lib/extensions/_extensions.scss
