<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Funding type 
      </dt>
      <dd class="govuk-summary-list__value">
        Local authority (LA) funded
      </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Funding status
      </dt>
      <dd class="govuk-summary-list__value">
        Current
      </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Funding decision notified date
      </dt>
      <dd class="govuk-summary-list__value">
        25 Sep 2020
      </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Funding start date                 
       </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">02 Oct 2020</p>
       </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Payment notified start date
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">02 Oct 2020</p>
      </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Payment start date               
       </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">02 Oct 2020</p>
       </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Care type            
       </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">Residential care</p>
       </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Legislation            
       </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">Part III of the National assistance Act 1948</p>
       </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
  </dl>


  -----------------------




  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of  admission
      </dt>
      <dd class="govuk-summary-list__value">
        15 Sep 2020
      </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Admitted From
      </dt>
      <dd class="govuk-summary-list__value">
        Non-care residential home
      </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Stay Type                  
      </dt>
      <dd class="govuk-summary-list__value">
        Permanent
      </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Permanent Stay Decision Date                   
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">21 Oct 2020</p>
       </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Discharged Date
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">Not Available</p>
      </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Discharged To
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">Not Available</p>
      </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Current Address               
       </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">Unit 14, 3 Edgar Buildings
          George Street
          Bath, England , BA1 2FJ</p>
       </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Previous Address          
       </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">10 Downing Street
          SW1A 2AA
          LONDON</p>
       </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        LA responsible  for care            
       </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">Essex County Council</p>
       </dd>
      <dd class="govuk-summary-list__actions">
        <!--a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a-->
      </dd>
    </div>
  </dl>