{% extends "layout-CHIS-proto.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

  {{ govukHeader() }}


<!-- CSS Script -->

<!--CSS Script End-->

{% endblock %}

{% block beforeContent %}





 

   
{% endblock %}

{% block content %}

<!-- Body Start's here -->
<div>
<img src="/public/images/searchlight.png" alt="Searchlight page">
</div>
<!--Boady end's here-->
<li>
    <a href="CHIS-funding-v1.html">CHIS task for funding assessment - Option A</a>
  </li>   
  
    
{% endblock %}
