{% extends "layout-CHIS-proto.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <strong class="govuk-tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


{% endblock %}

{% block content %}

<!-- Body part -->

  <div class="govuk-grid-row">
    <div class="govuk-width-container"> <!-- Change here for 2/3/ full coloum -->

<!--Notification-->

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Task completed succesfully    </h3>
    <p class="govuk-body">Pick up the next task by clicking the “Get a task”</p>
  </div>
</div>



<!--Notification End -->

           
      <h1 class="govuk-heading-xl">
        <!--  {% if serviceName %} {{ serviceName }} {% endif %} -->
        Care home task
      </h1>

        <h2 class="govuk-heading-s">Description(if needed) </h2>
        <p class="govuk-!-padding-bottom-7">Get a new task and view task - Content goes here</p>





        <a href="CHIS-funding-v3.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Get a task
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg></a>



    </div>
  </div>
{% endblock %}
