{% block content %}

<!--div class="govuk-width-container " style="width: 100% !important;margin: 0px;padding: 0;"-->
  <div class="govuk-width-container " style=" display: block; margin-left: auto;margin-right: auto;width: 100%;">
 

      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <a href="CHIS-funding-v3-CH-landing.html">
        <img src="/public/images/searchlight.png" alt="Searchlight page">
      </a>
      </main>
</div>
  
{% endblock %}
